body{
    counter-reset: figures;
}
figure figcaption {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    padding: .5em;
    text-align: center;
    color: #fff;
    background: #f5bca8;
    counter-increment: figures;
}
figure figcaption:before {
    content: '序号.' counter(figures) ' -- ';
}

header{
    margin-bottom: 10px;
}
.items{
    margin-bottom: 10px;
}
.items > div{
    margin-bottom: 5px;
}
.item img{
    height: 300px;
    width: 100px;
}
.item-sm{
    margin-left: 12px;
}
.item-sm img{
    height: 260px;
    width: 68px;
}
.detail img{
    height: 380px;
}

.detail{
    height: 350px;
    width: 420px;
    overflow: hidden;
}