
body{
    counter-reset: figures;
}
figure figcaption {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    padding: .5em;
    text-align: center;
    color: #fff;
    background: #f5bca8;
    counter-increment: figures;
}
figure figcaption:before {
    content: '序号.' counter(figures) ' -- ';
}


header{
    margin-bottom: 10px;
}
.items{
    margin-bottom: 10px;
}
.items > div >div{
    margin-bottom: 5px;
}
.item-box{
    text-align: center;
}
.item img{
    height: 300px;
    width: 100px;
}
.item.square {
    width: 100%;

}
.item.square img{
    width: 100%;
    height: auto;
}
/*.item-sm{*/
    /*margin-left: 12px;*/
/*}*/
.item-sm img{
    height: 260px;
    width: 68px;
}
.detail img{
    height: 380px;
}

.detail{
    height: 350px;
    width: 500px;
    overflow: hidden;
}

@media  (max-width: 1200px){
    .detail{
        width: 460px;
    }
}

@media  (max-width: 992px) {
    figure figcaption{
        font-size: 2.2em;
    }
    .item img,.item-sm img{
        width: 250px;
        height:auto;
        transform: rotate(90deg);
    }

    .item.square img{
        width: 50%;
        height: auto;
    }
    div.detail{
        height: auto;
        width: 100%;
        overflow: hidden;
    }
    div.detail img{
        height: auto;
        width: 100%;
    }
}
